body { padding-top: 70px; } /* the fixed nav bar */

/* Sticky footer styles
-------------------------------------------------- */

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.carousel-inner img {
    width: 460px;
    height: 345px;
}