body { padding-top: 70px; } /* the fixed nav bar */

/* Sticky footer styles
-------------------------------------------------- */
#today {
    float: left;
    font-family: 'Candal', sans-serif;
    font-size: 2em;
    padding-left: 30px;
    padding-top: 0px;
}
.markAsRed{
    background-color: #ffb3b3 !important;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
footer {
  position: relative;
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color: #f5f5f5;
  padding-top: 20px;
  padding-bottom: 20px;
} 
#welcome-footer{
  height: 80px;
}
#special-footer{
    height: 10px;
    width: auto;
    overflow: visible;
}

iframe {
        width: 100%;
        border: 0;
        min-height: 80%;
        height: 600px;
        display: flex;
      }

.carousel-inner > .item > img {
    margin: 0 auto;
}

.carousel-inner img {
    width: 460px;
    height: 345px;
}

#wrapper{
    position: absolute;
    top:51px;
}

#menu-toggle{
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
#right-side-toggle{
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.my-button{
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 8px 13px;
}
.my-button-inline{
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
/* style sidebar */
.sidebar-active {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}
.selected {
    color: blue;
  }
/* welcome, aboutus, contactus pages*/
.welcome-image {
    height: 280px;
    width: auto;
    overflow: hidden;
}
.margin {
    margin-bottom: 45px;
}
.bg-1 { 
    position: relative;
    margin-top: -19px;
    background-color: #1abc9c; /* Green */
    color: #ffffff;
    overflow: hidden;
}
.bg-2 { 
    position: relative;
    background-color: dodgerblue; /* Green */
    color: #ffffff;
    overflow: hidden;
}
.bg-3 {  
    position: relative;
    background-color: darkslategray; /* Green */
    color: #ffffff;
    overflow: hidden;
}
.bg-4 {  
    position: relative;
    background-color: black; /* Green */
    color: #ffffff;
    overflow: hidden;
}
#right-side-col{
    overflow: scroll;
}
#about-us-header{
    position: relative;
    top:-51px;
}
#about-middle-break{
    position: relative;
    top: -51px;
    padding: 10px;
    margin-bottom: -51px;
}
#search-option{
   
}

/* my .btn-inverse button */
.btn-inverse{
    background-color: black;
    color: #ffffff;
}
.btn-inverse:hover, .btn-inverse:focus:hover,.btn-inverse:active:hover, .open > .dropdown-toggle.btn-inverse {
    background: black;
    color: #ffffff;
}
.btn-inverse:focus, .btn-inverse:active:focus, .btn-inverse.active:focus {
    outline: 0 none;
    background: black;
    color: #ffffff;
    box-shadow: none;
}
.btn-inverse:active, .btn-inverse.active {
    background: #eeeeee;
    color: #ffffff;
    box-shadow: none;
}

/* today's time */
.inline-block{
    display: inline-block;
    margin: 5px;
}

