<!doctype html>
<html>
  <head>
    <title>About us</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
     <style>
      #home-us{
        position: relative;
        margin-top: 5px;
         }
     </style>
  </head>
  <body>
       
    <div class="container">
        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <a id="home-us" href="../index.html" class="btn btn-default"><span class="glyphicon glyphicon-home"> home</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Us
                    <small>It's Nice to Meet You!</small>
                </h1>
                <p>2016 summer Email project based on gmail API</p>
            </div>
        </div>
        <!-- Team Members Row -->
        <div class="row">
            <div class="col-sm-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>ZIHAO ZHAO
                    <small>client-side</small>
                </h3>
                <p>...</p>
            </div>
            <div class="col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>RUXUE BU
                    <small></small>
                </h3>
                <p>...</p>
            </div>
            <div class="col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="../imgs/Tianxiao.jpg" width='200' height='200' alt="Tianxiao.jpg">
                <h3>TIANXIAO YANG
                    <small>gmail api</small>
                </h3>
                <p>...</p>
            </div>
        </div>
    </div>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
