<!doctype html>
<html>
  <head>
    <title>About us</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/mystyle.css">
     <style>
      #home-us{
        position: relative;
        margin-top: 5px;
         }
     </style>
  </head>
  <body>
    <div id="about-us-header" class="container-fluid bg-1 text-center">
        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <a id="home-us" href="../index.html" class="btn btn-inverse pull-left"><span class="glyphicon glyphicon-home"> home</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Us
                    <small style="color: #ffffff">It's Nice to Meet You!</small>
                </h1>
                <p class="margin">2016 summer Email project based on gmail API</p>
            </div>
        </div>
    </div>
    <div id="about-middle-break"class="container-fluid bg-4 text-center">
        ...
    </div>
    <div class="container-fluid bg-5 text-center">
    <div class="container">
        <!-- Team Members Row -->
        <div class="row">
            <div class="col-sm-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" style="width:50%; hight=50%" src="../imgs/zihowe.jpg" alt="zihoweimg">
                <h3>ZIHAO ZHAO
                    <small>client-side</small>
                </h3>
                <p></p>
            </div>
            <div class="col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="../imgs/ruxue.jpg" style="width:50%; hight=50%"  alt="ruxueimg"> 
                <h3>RUXUE BU
                    <small>user interface</small>
                </h3>
                <p>...</p>
            </div>
            <div class="col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="../imgs/landscape.jpg" width='300' height='300' alt="Tianxiao">
                <h3>TIANXIAO YANG
                    <small>gmail api</small>
                </h3>
                <p class="margin">...</p>
            </div>
        </div>
    </div>
    </div>
    <div id="special-footer">
    <footer id="welcome-footer">
        <p class="text-muted text-center">email classifier Copyright (c) 2016 (Stevens Institute of Technology)</p>
    </footer>
    </div>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
