<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand now blank #_#</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="index.html">home<span class="sr-only">(current)</span></a></li>
        <li><a href="#">link(blank)</a></li>
        <form id="nav_search"class="navbar-form navbar-left hidden" role="search">
        <div class="form-group">
          <input id="query_input" type="text" value="" class="form-control" placeholder="Search">
        </div>
        <button id="search_button" type="button" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
        </form>
      </ul>
        
      <ul class="nav navbar-nav navbar-right">
        <li><a id="aboutus" href="views/aboutus.html">about us</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Setting <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <button id="signout-button" class="btn btn-success btn-block hidden" data-toggle="tooltip" 
                title="This will sign out your gmail account for your browser!">Sign Out</button>
          </ul>
        </li>
        <button href="#" id="authorize-button" class="btn btn-primary navbar-btn pull-right hidden">Sign In with gmail</button>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>