<ul class="nav nav-tabs">
  <li class="active">
    <a data-toggle="tab" href="#all-inbox">ALL</a></li>
  <li>
    <a data-toggle="tab" href="#unread-inbox">Unread</a></li>
  <li>
    <a data-toggle="tab" href="#read-inbox">Read</a></li>
</ul>
<div class="tab-content">
  <div id="all-inbox" class="tab-pane fade in active">
    <table class="row table table-striped table-hover table-responsive">
      <thead>
        <!--table head -->
        <tr>
          <th class="col-md-2">From</th>
          <th class="col-md-8">Subject</th>
          <th class="col-md-2">Date/Time</th></tr>
      </thead>
      <tbody id="inbox-table"></tbody>
     </table>
  </div>
  <div id="unread-inbox" class="tab-pane fade">
    <table class="row table table-striped table-hover table-responsive">
      <thead>
        <!--table head -->
        <tr>
          <th class="col-md-2">From</th>
          <th class="col-md-8">Subject</th>
          <th class="col-md-2">Date/Time</th></tr>
      </thead>
      <tbody id="inbox-table-unread"></tbody>
     </table>
  </div>
  <div id="read-inbox" class="tab-pane fade">
    <table class="row table table-striped table-hover table-responsive">
      <thead>
        <!--table head -->
        <tr>
          <th class="col-md-2">From</th>
          <th class="col-md-8">Subject</th>
          <th class="col-md-2">Date/Time</th></tr>
      </thead>
      <tbody id=""></tbody>
     </table>
  </div>
</div>