<table class="row table table-striped table-hover table-responsive">
                            <thead> <!--table head -->
                                <tr>    
                                    <th class="col-md-2">From</th>
                                    <th class="col-md-8">Subject</th>
                                    <th class="col-md-2">Date/Time</th>
                                </tr>
                            </thead>
                            <tbody id="personal-table"></tbody>  <!--table body <td></td> table data--> 
                        </table>