

<ul class="nav nav-tabs nav-justified">
  <li class="active">
    <a data-toggle="tab" href="#all-promotion">ALL</a></li>
  <li>
    <a data-toggle="tab" href="#unread-promotion">Unread</a></li>
  <li>
    <a data-toggle="tab" href="#read-promotion">Read</a></li>
  <li>
    <a data-toggle="tab" href="#delete-promotion">Delete</a></li>
</ul>
<div class="tab-content">
  <div id="all-promotion" class="tab-pane fade in active">
    <table class="row table table-striped table-hover table-responsive">
      <thead>
        <!--table head -->
        <tr>
          <th class="col-md-1">Check</th>
          <th class="col-md-2">From</th>
          <th class="col-md-7">Subject</th>
          <th class="col-md-2">Date/Time</th>
        </tr>
      </thead>
      <tbody id="promotion-table"></tbody>
     </table>
  </div>
  <div id="unread-promotion" class="tab-pane fade">
    <table class="row table table-striped table-hover table-responsive">
      <thead>
        <!--table head -->
        <tr>
          <th class="col-md-1">Check</th>
          <th class="col-md-2">From</th>
          <th class="col-md-7">Subject</th>
          <th class="col-md-2">Date/Time</th></tr>
      </thead>
      <tbody id="promotion-table-unread"></tbody>
     </table>
  </div>
  <div id="read-promotion" class="tab-pane fade">
    <table class="row table table-striped table-hover table-responsive">
      <thead>
        <!--table head -->
        <tr>
          <th class="col-md-1">Check</th>
          <th class="col-md-2">From</th>
          <th class="col-md-7">Subject</th>
          <th class="col-md-2">Date/Time</th></tr>
      </thead>
      <tbody id=""></tbody>
     </table>
  </div>
  <div id="delete-promotion" class="tab-pane fade">
    <table class="row table table-striped table-hover table-responsive">
      <thead>
        <!--table head -->
        <tr>
          <th class="col-md-1">Check</th>
          <th class="col-md-2">From</th>
          <th class="col-md-7">Subject</th>
          <th class="col-md-2">Date/Time</th>
        </tr>
      </thead>
      <tbody id="promotion-table-delete"></tbody>
     </table>
  </div>
</div>