

<ul class="nav nav-tabs nav-justified">
  <li class="active">
    <a data-toggle="tab" href="#all-trash">ALL</a></li>
  <li>
    <a data-toggle="tab" href="#unread-trash">Unread</a></li>
  <li>
    <a data-toggle="tab" href="#read-trash">Read</a></li>
  <li>
    <a data-toggle="tab" href="#delete-trash">Delete</a></li>
</ul>
<div class="tab-content">
  <div id="all-trash" class="tab-pane fade in active">
    <table class="row table table-striped table-hover table-responsive">
      <thead>
        <!--table head -->
        <tr>
          <th class="col-md-1">Check</th>
          <th class="col-md-2">From</th>
          <th class="col-md-7">Subject</th>
          <th class="col-md-2">Date/Time</th>
        </tr>
      </thead>
      <tbody id="trash-table"></tbody>
     </table>
  </div>
  <div id="unread-trash" class="tab-pane fade">
    <table class="row table table-striped table-hover table-responsive">
      <thead>
        <!--table head -->
        <tr>
          <th class="col-md-1">Check</th>
          <th class="col-md-2">From</th>
          <th class="col-md-7">Subject</th>
          <th class="col-md-2">Date/Time</th></tr>
      </thead>
      <tbody id="trash-table-unread"></tbody>
     </table>
  </div>
  <div id="read-trash" class="tab-pane fade">
    <table class="row table table-striped table-hover table-responsive">
      <thead>
        <!--table head -->
        <tr>
          <th class="col-md-1">Check</th>
          <th class="col-md-2">From</th>
          <th class="col-md-7">Subject</th>
          <th class="col-md-2">Date/Time</th></tr>
      </thead>
      <tbody id=""></tbody>
     </table>
  </div>
  <div id="delete-trash" class="tab-pane fade">
    <table class="row table table-striped table-hover table-responsive">
      <thead>
        <!--table head -->
        <tr>
          <th class="col-md-1">Check</th>
          <th class="col-md-2">From</th>
          <th class="col-md-7">Subject</th>
          <th class="col-md-2">Date/Time</th>
        </tr>
      </thead>
      <tbody id="trash-table-delete"></tbody>
     </table>
  </div>
</div>