<div class="container-fluid bg-1 text-center">
  <h3 class="margin">Google Gmail</h3>
  <img src="./imgs/google2.jpg" class="img-responsive img-rounded margin" style="display:inline" alt="Google" width="350" height="350">
  <h3>Based on Gmail API</h3>
</div>

<div class="container-fluid bg-2 text-center">
  <h3 class="margin">Stevens Institute of Technology</h3>
  <img src="./imgs/stevens0.jpg" class="img-responsive img-rounded margin" style="display:inline" alt="Stevens" width="350" height="350">
  <h3>2016 summer project</h3>
</div>

<div class="container-fluid bg-3 text-center">
  <h3 class="margin">Security</h3>
  <img src="./imgs/security.jpg" class="img-responsive img-rounded margin" style="display:inline" alt="security" width="350" height="350">
  <h3>...</h3>
</div>

    <div id="special-footer">
    <footer id="welcome-footer">
        <p class="text-muted text-center">email classifier Copyright $copy 2016 (Stevens Institute of Technology)</p>
    </footer>
    </div>
